#title {
    color: white;
    background: orange;
}

#rules {
    background: lightgoldenrodyellow;
}

#score {
    background: cadetblue;
}

#scoreIs {
    color: white;
    background: cadetblue;
}

#tally {
    color: white;
    background: blue;
}

img{
    width: 100%
}

#btn1 {
    margin-top: 30px;
    background: lightgray;
    height: 200px;
    width: 200px;
}

#btn2 {
    margin-top: 30px;
    background: lightgray;
    height: 200px;
    width: 200px;
}

#btn3 {
    margin-top: 30px;
    background: lightgray;
    height: 200px;
    width: 200px;
}

#btn4 {
    margin-top: 30px;
    background: lightgray;
    height: 200px;
    width: 200px;
}