#title {
    color: white;
    background: orange;
}

#rules {
    background: lightgoldenrodyellow;
}

#score {
    background: ;
}

#tally {
    background: ;
}

img{
    width: 100%
}

#redCrystal {
    margin-top: 30px;
    background: lightgray;
}

#blueCrystal {
    margin-top: 30px;
    background: lightgray;
}

#yellowCrystal {
    margin-top: 30px;
    background: lightgray;
}

#greenCrystal {
    margin-top: 30px;
    background: lightgray;
}